.git
.gitmodules
.gitignore
__pycache__
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/.next
**/.source
.DS_Store
node_modules
**/node_modules
.pulse
.venv
dist
docs/.next
docs/.source
*.tsbuildinfo
*.pyc
*.pyo
